body{
  background-color: #C6E7FF;
}

*{
  margin: 0;
  padding: 0;
}

#heading{
  text-align: center;
  font-size: 40px;
  margin: 10vh;
}

.container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1em;
   border: 1px solid black;
   height: 50vh; /*sets the height of the flex-box container*/

}

.btn{
  margin: 12px;
  height: 100px;
  width: 100px;
}



